.center
  .header
    %img(src="/images/ab_logo.png" width="291" height="132")
  .left
    %h3 abundantbiology.com
    .spacer
      %p
        More coming soon.
      %p
        Please contact
        %a(href="mailto:info@abundantbiology.com") info@abundantbiology.com
        with any questions regarding our services, or for information on 
        %span.bold Fairfield Greener Pastures Project
        \.
  .right
    %img(src="/images/fgpp_logo.png" class="fgpp_logo")
